<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MorseMe</title>

        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <link rel="stylesheet" href="https://unpkg.com/terminal.css" />
    </head>

    <body class="terminal">
        <div class="container">
            <div class="terminal-nav">
                <header class="terminal-logo">
                    <div id="h1-title" class="logo terminal-prompt"
                        hx-get="/title-morse" hx-trigger="click" hx-target="#h1-title" hx-swap="outerHTML">
                        MorseMe
                    </div>
                </header>
                <nav class="terminal-menu">
                    <ul>
                        <li><a href="http://localhost:3000">localhost:3000</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container">
            <h2>Ticket Number Test</h2>
            <div id="ticket-no" class="terminal-alert">????-????</div>
            <button class="btn btn-primary"
                hx-get="/ticket"
                hx-trigger="click"
                hx-target="#ticket-no"
                hx-swap="outerHTML"
                _="on click
                    toggle @disabled
                    until htmx:afterOnLoad">
                Get Ticket #
            </button>

            <hr>

            <h2>Text to Morse Test</h2>
            <form id="encode-form"
                hx-target="#encode-form"
                hx-swap="outerHTML"
                hx-post="/encode-to-morse">
                <fieldset>
                    <legend>Text to convert</legend>
                    <div>
                    <label for="text-input">
                        Input:
                        <input id="text-input" name="text-input" type="text" size="40" spellcheck="true" placeholder="letters and spaces only" maxlength="100" required />
                    </label>
                    </div>
                    <br>
                    <div>
                        <input id="submit-btn" class="btn btn-default" type="submit" value="Convert" />
                    </div>
                </fieldset>
                <br>
                <div id="encode-output" class="terminal-alert">...</div>
            </form>

            <hr>

            <footer>
                <div hx-get="/footer" hx-trigger="revealed" hx-swap="innerHTML"></div>
            </footer>
        </div>
    </body>
</html>