package templates

import "morseme/server/message"
import "morseme/server/morsecode"

templ NewMessage() {
    <form id="message-form" hx-target="#message-form" hx-swap="innerHTML" hx-post="/submit-message">
		<fieldset>
			<legend>Message to send</legend>
			<div>
				<label for="message-body">
					Message:
					<input id="message-body" name="message-body" type="text" size="40" spellcheck="true" placeholder="letters and spaces only" maxlength="100" required />
				</label>
			</div>

			<br />

			<div>
				<label for="message-sender">
					Sender:
					<input id="message-sender" name="message-sender" type="text" size="40" spellcheck="true" placeholder="your name (optional)" maxlength="100" />
				</label>
			</div>

			<br />

			<div>
				<input id="message-submit" class="btn btn-primary" type="submit" value="Send" />
			</div>
		</fieldset>
	</form>
}

templ SubmitMessage(m message.Message) {
	<div id="message-form">
		<fieldset>
			<legend>Message sent</legend>
			if m.MessageSender != "" {
				<div>Thanks { m.MessageSender }, your message has been sent!</div>
			} else {
				<div>Thanks, your message has been sent!</div>
			}
			<pre>{ m.MessageText } --> { morsecode.ErrorlessEncode(m.MessageText) }</pre>
			<br />
			<div>Take note of your ticket # to check on the status of your message:</div>
			<div id="encode-output" class="terminal-alert terminal-alert-primary">
				🎫
				<span id="ticket-num">{ m.MessageTicket }</span>
			</div>
			<br />
			<button class="btn btn-primary" hx-target="#message-form" hx-swap="outerHTML" hx-get="/new-message">Send another message</button>
			<a class="btn" _="on click call navigator.clipboard.writeText(#ticket-num.innerHTML)">Copy ticket # to clipboard</a>
		</fieldset>
	</div>
}

templ ErrorMessage() {
	<div id="message-form">
		<fieldset>
			<legend>Message not sent</legend>
			<div id="encode-output" class="terminal-alert terminal-alert-error">invalid input: letters and spaces only</div>
			<br />
			<button class="btn btn-primary" hx-target="#message-form" hx-swap="outerHTML" hx-get="/new-message">Send another message</button>
		</fieldset>
	</div>
}
