package templates

import (
    "strings"
    
    "morseme/server/ticket"
)

templ TicketNo() {
    <div id="ticket-no" class="terminal-alert terminal-alert-primary">{ strings.ToUpper(ticket.GenerateTicketNo()) }</div>
}