package templates

templ TitleMorse() {
	<h1 hx-get="/title-text" hx-target=this hx-trigger="click[ctrlKey]">-- --- .-. ... . -- .</h1>
}

templ TitleText() {
	<h1 hx-get="/title-morse" hx-target=this hx-trigger="click[ctrlKey]">MorseMe</h1>
}