package templates

templ TitleMorse() {
	<div id="h1-title" class="logo terminal-prompt" hx-get="/title-text" hx-trigger="click" hx-target="#h1-title" hx-swap="outerHTML">
		-- --- .-. ... . -- .
	</div>
}

templ TitleText() {
	<div id="h1-title" class="logo terminal-prompt" hx-get="/title-morse" hx-trigger="click" hx-target="#h1-title" hx-swap="outerHTML">
		MorseMe
	</div>
}